{{ define "main" }}

{{ with .Params }}
<section class="section" style="background-image: url('{{ .overlayImage | absURL }}');">
  {{ end }}
  <div class="container">
    <div class="row">
      <div class="col-4 col-xs-0">
        {{ with .Params.sideBar_one }}
        <div class="row justify-content-center">
          <div class="col-12 text-center mb-5 bg-light">
            <h2 class="mb-2">{{.Title}}</h2>
            <p>{{ .info | markdownify }}</p>
            <img class="cta-image hide" src="{{ .image | absURL }}" alt="">
          </div>
        </div>
        {{ end }}
        {{ with .Params.sideBar_two}}
        <div class="row justify-content-center">
          <div class="col-12 text-center bg-light mb-5">
            <h2 class="mb-2">{{.Title}}</h2>
            <p>{{ .info | markdownify }}</p>
          </div>
        </div>
        {{ end }}
      </div>
      <div class="col-8 col-xs-12 justify-content-center">
        <div class="row justify-content-center">
          {{ with .Params }}
          <div class="col-xs-12 col-lg-10 text-center mb-2">
            <h1 class="font-weight-bold">{{.Title}}</h1>
            <p>{{ .subheader | markdownify }}</p>
            {{ end }}
          </div>
        </div>
        {{ with .Params.certs }}
        <div class="row justify-content-center mb-2">
          <div class="col-lg-5 col-sm-10 mb-4 mt-4 bg-1 rounded img-thumbnail"
            style="background-image: url('{{ .overlayImage | absURL }}');">
            <h2 class="text-center font-weight-bold mb-4">{{ .cwq_title | markdownify }}</h2>
            <p>{{ .cwq_content | markdownify }}</p>
          </div>
          <div class="col-lg-5 col-sm-10 mb-4 mt-4 bg-1 rounded img-thumbnail"
            style="background-image: url('{{ .overlayImage | absURL }}');">
            <h2 class="text-center font-weight-bold mb-4">{{ .sir_title | markdownify }}</h2>
            <p>{{ .sir_content | markdownify }}</p>
          </div>
          <div class="col-sm-12 mb-4">
            <p>{{ .apply | markdownify }}</p>
            <p>{{ .foot | markdownify }}</p>
          </div>
        </div>
        {{ end }}
      </div>
      {{ with .Params.learn }}
    </div>
    <div class="row mb-4 justify-content-center">
      <div class="col-xs-12 col-lg-8">
        <h2 class="font-weight-bold mb-2">{{ .title | markdownify }}</h2>
        <p>{{ .info | markdownify }}</p>
      </div>
      <div class="col-xs-12 col-lg-8 mb-2">
        <ul class="list">
          {{ range .link_list }}
          <li class="font-weight-bold mb-2">{{ . | markdownify }}</li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
      <div class="w-100"></div>
      {{ with .Params.footnote }}
      <div class="col-lg-Variable col-sm-8 text-center">
        <h2>{{ .title | markdownify }}</h2>
        <p>{{ .info | markdownify }}</p>
      </div>
      {{ end }}
    </div>
    <div class="row justify-content-center">
      <div class="col-xs-12 col-lg-10 mb-3 align-self-end">
        {{ with .Params.wages }}
        <h2 class="mb-2">{{ .title | markdownify }}</h2>
        <p>{{ .info | markdownify }}</p>
      </div>
      {{ end }}
      <div class="col-xs-12 col-mg-8 col-lg-8">
        {{ .Content | markdownify }}
      </div>
    </div>
</section>
{{ end }}