{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.q_about.enable }}
{{ with $data.homepage.q_about }}

<section class="section call-to-action bg-opacity text-white" style="background-image: url('{{ .overlayImage | absURL }}');">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <img class="img-fluid" src="{{ .image_one | absURL }}" alt="">
      </div>
      <div class="col-6 text-center align-self-center">
        <h1 class="mb-2">{{ .q_one | markdownify }}</h1>
        <p>{{ .a_one | markdownify }}</p>
      </div>
      <div class="w-100"></div>
      <div class="col-11">
        <h1 class="mb-2 text-center">{{ .q_two | markdownify }}</h1>
        <p>{{ .a_two | markdownify }}</p>
        <p>{{ .a_two_one | markdownify }}</p>
        <p>{{ .a_two_two | markdownify }}</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-11 col-md-10 text-center mb-1">
        <h1 class="mb-2">{{ .q_three | markdownify }}</h1>
        <p>{{ .a_three | markdownify }}</p>
        <p>{{ .a_three_one | markdownify }}</p>
      </div>
      <div class="col-sm-11 col-lg-11 text-center">
        <h1 class="mb-2">{{ .q_four | markdownify }}</h1>
        <p>{{ .a_four | markdownify }}</p>
        <p>{{ .a_four_one | markdownify }}</p>
        <p class="font-weight-bold">{{ .a_four_two | markdownify }}</p>
      </div>
    </div>
  </div>
</section>


{{ end }}
{{ end }}