{{ define "main" }}
{{ with .Params }}

<section class="call-to-action section" style="background-image: url('{{ .overlayImage | absURL }}');">
  <div class="container">
    {{ end }}
    {{ with .Params.questions }}
    <div class="row justify-content-around">
      <div class="col-lg-4 col-md-4 mb-4">
          <img class="img-fluid cta-image" src="{{ .image_one | absURL }}" alt="{{ .image_title }}">
      </div>
      <div class="col-lg-8 col-sm-10 mb-4 align-self-end">
        <h2 class="font-weight-bold mb-2">{{ .q_one | markdownify }}</h2>
        <p>{{ .a_one | markdownify }}</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-sm-10 mb-4">
        <h2 class="font-weight-bold mb-4">{{ .q_two | markdownify }}</h2>
        <p>{{ .a_two | markdownify }}</p>
      </div>
      <div class="col-lg-6 col-sm-10 mb-5">
        <h2 class="font-weight-bold mb-4">{{ .q_three | markdownify }}</h2>
        <p>{{ .a_three | markdownify }}</p>
        <p>{{ .a_three_one | markdownify }}</p>
      </div>
    </div>
    {{ end }}
    {{ with .Params.heading_two }}
    <div class="row justify-content-center">
      <div class="col offset-lg-3 offset-sm-1">
        <h2 class="font-weight-bold">{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
      </div>
    </div>
    {{ end }}
    {{ with .Params.guide }}
    <div class="row justify-content-center">
      <div class="col-lg-10 col-sm-10 mb-4">
        <p>{{ .u_one | markdownify }}</p>
        <p>{{ .u_one_one | markdownify }}</p>
      </div>
    </div>
    <div class="row justify-content-center align-items-end bg-2 mb-5 rounded img-thumbnail">
      <div class="col-lg-6 col-sm-10 mb-4">
        <p>{{ .u_two | markdownify }}</p>
        <ol class="list">
          {{ range .u_two_list }}
          <li class="mb-2 font-weight-bold">{{ . | markdownify }}</li>
          {{ end }}
        </ol>
      </div>
      <div class="col-lg-6 col-sm-10 mb-4 align-self-end">
        <p>{{ .u_two_one | markdownify }}</p>
        <ul class="list-unstyled">
          {{ range .u_two_one_list }}
          <li class="mb-2 font-weight-bold">{{ . | markdownify }}</li>
          {{ end }}
        </ul>
        <p>{{ .u_two_foot | markdownify }}</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10 col-sm-10 mb-4">
        <p>{{ .u_three | markdownify }}</p>
      </div>
      <div class="col-lg-10 col-sm-10 mb-4">
        <p>{{ .u_four | markdownify }}</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4 mb-2">
          <img class="img-fluid cta-image" src="{{ .image_two | absURL }}" alt="{{ .image_two_title }}">
      </div>
      <div class="col-lg-6 col-sm-10 mb-4 align-self-center">
        <p>{{ .u_five | markdownify }}</p>
        <p>{{ .u_five_one | markdownify }}</p>
        <p>{{ .u_five_two | markdownify }}</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10 col-sm-10 mb-4">
        <p>{{ .u_six | markdownify }}</p>
        <p>{{ .u_six_one | markdownify }}</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10 col-sm-10 mb-4">
        <p>{{ .u_seven | markdownify }}</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10 col-sm-10 mb-4">
        <p>{{ .u_eight | markdownify }}</p>
      </div>
    </div>
    {{ end }}
    <div class="bg-1 bg-img container mb-5">
      <div class="row">
        {{ with .Params.questions_two }}
        <div class="col-md-6 text-center mb-5 mb-lg-0">
          <img class="img-fluid cta-image" src="{{ .image_one | absURL }}" alt="{{ .image.title }}">
        </div>
        <div class="col-md-6 align-self-center text-center text-md-left">
          <h2 class="subheading font-weight-bold mb-6">{{ .q_four | markdownify }}</h2>
          <p>{{ .a_four | markdownify }}</p>
          <p>{{ .a_four_one | markdownify }}</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center mb-4">
        <div class="col-md-10 align-self-center text-center text-md-left">
          <h2 class="subheading text-center mb-6">{{ .q_five | markdownify }}</h2>
          <p>{{ .a_five | markdownify }}</p>
          <p>{{ .a_five_one | markdownify }}</p>
        </div>
      </div>
      {{ end }}

      {{- partial "features.html" . }}

      {{ with .Params.questions_two }}

      <div class="row justify-content-center">
        <div class="col-lg-10 col-sm-10 mb-4">
          <h3 class="subheading text-center mb-6">{{ .q_six | markdownify }}</h3>
          <p>{{ .a_six | markdownify }}</p>
          <ul class="list">
            {{ range .a_six_list }}
            <li class="font-weight-bold mb-2">{{ . | markdownify }}</li>
            {{ end }}
          </ul>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-10 col-sm-10 mb-4">
          <p>{{ .footnote | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>


{{ end }}